<%= form_with  model: @calendar, url: user_calendars_path,local: true do |form| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% @calendar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :体重 %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :日時 %>
    <%= form.datetime_field :start_time %>
  </div>

  <div class="content">
    <%= form.label :コメント %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
