<div class="contents row">
  <div class="container">
    <h3> New </h3>

  <%= form_with model: @calendar, url: user_calendars_path, method: :post, local: true do |form|  %> 
    <%= render 'layouts/error_messages', model: form.object %>

    <div class="title weight">
      <%= form.label :weight, '体重' %> 
      <%= form.number_field :weight, min:30.0, max:200.0, step: "0.1", placeholder:"00.0", autofocus: true, class:"input-weight"%>
    </div>

    <div class="time">
      <%= form.label :start_time, '日時' %>
      <%= form.datetime_field :start_time %>
    </div>

    <div class="content">
      <%= form.label :content, 'コメント' %>
      <%= form.text_field :content %>
    </div>


    <div class="submit">
      <%= form.submit %>
    </div>
   <% end %>
  </div>
</div>