<div class="contents row">
  <div class="container">
    <h3>New Calendar</h3>

<%# <%= render 'form', calendar: @calendar %> 

<%# <%= link_to 'Back', calendars_path %>
<%# <%= form_with model: @calendar, local: true do |form| %> 
    <%= form_with url: user_calendars_path, local: true do |form| %>
      <% if @calendar.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

        <ul>
          <% @calendar.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="title">
      <%= form.label :体重 %>
      <%= form.text_field :title %>
    </div>

    <div class="time">
      <%= form.label :日時 %>
      <%= form.datetime_field :start_time %>
    </div>

    <div class="content">
      <%= form.label :コメント %>
      <%= form.text_field :content %>
    </div>


    <div class="submit">
      <%= form.submit %>
    </div>
   <% end %>
  </div>
</div>